{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2 class="my-4">Welcome to the Library Management System</h2>

<p>This Library Management System allows users to browse and manage a collection of books. Key features include:</p>
<ul>
    <li>Viewing available books with details such as title, author, and publication date.</li>
    <li>Authenticated users can book available books and add comments.</li>
    <li>Library managers have additional privileges to add, update, and delete books from the inventory.</li>
</ul>

<p>To get started, please register or log in if you already have an account. Enjoy exploring our collection!</p>
{% endblock %}